<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Scaler</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="margin: 10px;padding=10px;">
		<form method="post" action="/topics">
			<input type="number" name="id" style="margin: 10px;padding=10px;">ID</input> <br />
			<input type="text" name="title" style="margin: 10px;padding=10px;">Title</input> <br />
			<input type="text" name="difficulty" style="margin: 10px;padding=10px;">Difficulty</input><br />
			<button type="submit">Add Topic</button>
		</form>
		
	</div>
</body>
</html>